<md-dialog aria-label="Genomför köp...">
    <md-dialog-content class="md-dialog-content">
      <div ng-if="dialog.progress.status === 'working'">
        <div layout="column" layout-align="start center">
          <h2>Genomför köp...</h2>
          <md-progress-circular md-mode="indeterminate"></md-progress-circular>
        </div>
        <p>
          Ditt köp bearbetas. Undvik att stänga eller ladda om sidan.
        </p>
      </div>
      <div ng-if="dialog.progress.status === 'failed'">
        <p>
          Köpet misslyckades av följande skäl: {{dialog.progress.statusMessage}}
        </p>
      </div>
      <div ng-if="dialog.progress.status === 'succeeded'">
        <div layout="column" layout-align="start center">
          <h2>Klart!</h2>
        </div>
        <p>
          Ditt biljettköp är klart. Kvitto på betalningen samt mer information
          om din biljett kommer per mail.
        </p>
        <p>
          Ha det fint!
        </p>
      </div>
    </md-dialog-content>
    <md-dialog-actions class="md-actions">
      <md-button ng-click="dialog.hide()" ng-if="dialog.progress.status !== 'working'">
        Stäng
      </md-button>
    </md-dialog-actions>
</md-dialog>
