<md-dialog aria-label="Logga in">
  <md-dialog-content class="md-dialog-content">
    <div layout="row" layout-sm="column" layout-padding>
      <div>
        <h2>LiU-id</h2>
        <p>
          För att kunna få eventuell kårrabatt måste du logga in med LiU-id.
        </p>
        <md-button class="md-raised md-primary" ui-sref="liubiljett.auth.login.liu">Logga in med LiU-id</md-button>
      </div>
      <div>
        <h2>Facebook</h2>
        <p>
          Logga in med Facebook om du inte är student eller anställd på LiU.
        </p>
        <md-button class="md-raised md-primary" ui-sref="liubiljett.auth.login.facebook">Logga in med Facebook</md-button>
      </div>
    </div>
  </md-dialog-content>
  <md-dialog-actions class="md-actions">
    <md-button ng-click="dialog.hide()">
      Stäng
    </md-button>
  </md-dialog-actions>
</md-dialog>
