### OSX ###
.DS_Store
.AppleDouble
.LSOverride

# Basics
*~
*.py[cod]
__pycache__

# Logs
*.log
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo
*.pot

# npm
node_modules/

# Compass
.sass-cache

# virtual environments
.env

# Collected static files
staticfiles/
