### OSX ###
.DS_Store
.AppleDouble
.LSOverride

# Basics
*~
*.py[cod]
__pycache__

# Logs
*.log
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo
*.pot

# npm
node_modules/

# Compass
.sass-cache

# virtual environments
.env
.env.local

# Collected static files
bitket/staticfiles/

# dependencies
node_modules

# testing
.cache
coverage

# production
build

# misc
.DS_Store
.env
npm-debug.log

src/index.css
*.egg-info/
