gunicorn==19.6.*
stripe==1.*
pytz
requests==2.*
ipython
factory_boy==2.7.*
unicodecsv==0.14.*

# Django
Django==1.10.*
django-localflavor==1.3.*
django-cors-headers==1.3.*
psycopg2==2.6.*
django-redis==4.3.*
django-extensions==1.7.*
django-model-utils==2.6.*
django-environ==0.4.*
django-secure==1.0.*
whitenoise==3.2.*
django-braces==1.10.*

# REST Framework
djangorestframework==3.5.*
django-filter==0.15.*

# Auth
python-social-auth==0.2.*
git+https://github.com/ovidner/python-social-auth-liu.git@0f875c0ec48a4c7a6684888068171a5e6cc69d67#egg=python-social-auth-liu
git+https://github.com/st4lk/django-rest-social-auth.git@9ce7e6a5614b37da33718abc59aa9f75a27c9dd0#egg=rest-social-auth
djangorestframework-jwt==1.8.*

# Unicode slugification
unicode-slugify==0.1.*
django-autoslug==1.9.*

# Email
git+https://github.com/BradWhittington/django-templated-email.git@eb0f6936fcd38b10c13496a09ad7f409e19c5729#egg=django-templated-email
django-mailgun==0.8.0

# Error reporting and performance monitoring
opbeat==3.5.*

# QR codes
Pillow==3.4.*
qrcode==5.2.*
