# Bleeding edge Django
django==1.9.4

django-localflavor==1.2
git+https://github.com/ovidner/django-saml-service-provider.git@71bce932726ed932e9616594bfe744e072c6a16a#egg=django_saml_service_provider-master

# REST Framework
djangorestframework==3.3.3
drf-nested-routers==0.11.1
django-rest-auth==0.7.0
dry-rest-permissions==0.1.6
django-filter==0.13.0

# Configuration
django-environ==0.4.0
django-secure==1.0.1
whitenoise==2.0.6

gunicorn==19.4.5
raven==5.11.1

# Forms
django-braces==1.8.1

# Models
django-model-utils==2.4

# For user registration, either via email or social
# Well-built with regular release cycles!
# django-allauth==0.23.0

# For the persistence stores
psycopg2==2.6.1

# Unicode slugification
unicode-slugify==0.1.3
django-autoslug==1.9.3

# Time zones support
pytz==2015.7

# Redis support
django-redis==4.3.0

celery==3.1.19

stripe==1.27.1

coverage==4.0.3
flake8==2.5.0
Sphinx
django-extensions==1.5.9
Werkzeug==0.11.2
django-test-plus==1.0.11
factory_boy==2.5.2
PyHamcrest==1.8.5

# django-debug-toolbar that works with Django 1.5+
django-debug-toolbar==1.4.0

requests==2.8.1
unicodecsv==0.14.1

# Email
git+https://github.com/BradWhittington/django-templated-email.git@eb0f6936fcd38b10c13496a09ad7f409e19c5729#egg=django_templated_email-master
django-mailgun==0.8.0

# Error reporting and performance monitoring
opbeat==3.3

# QR codes
Pillow==3.2.0
qrcode==5.2.2
