{% extends 'base.html' %}
{% load i18n crispy_forms_tags %}

{% block title %}{{ block.super }} – Anmälan för gråskägg och generaler{% endblock %}

{% block header %}Anmälan för gråskägg och generaler{% endblock %}

{% block content %}
    <p>
        Vi ber om ursäkt för detta sena utskick men här är äntligen anmälan för gråskägg och generaler. Anmäl dig själv
        och din respektive i detta formulär och ange "Gråskägg och respektive" alternativt "SOF-general och respektive"
        som <strong>primär orkester</strong>. Detta gör att kostnaderna för biljetten inte kommer att debiteras, dock kommer
        allt utöver entrébiljetten att bekostas av er själva. Respektive anmäler sig också i detta formulär och skriver
        dennes kavaljers namn i "Annan info".
    </p>
    <p>
        <em>Om du ska spela med en orkester måste du även välja denna orkester i listan.</em> Om du eller din respektive
        redan har gjort en anmälan via er orkester så skicka ett mail med all nödvändig anmälningsinfo till
        <a href="mailto:rikssmask@sof15.se">rikssmask@sof15.se</a>. Detsamma gäller om det kvarstår några frågetecken.
    </p>
    <p>
        <strong>Prylar måste beställas senast 10/3 kl 17:00.</strong>
    </p>
    <p>
        Vi ses på SOF!
    </p>
    <form method="post" action="">
        {% csrf_token %}
        <div class="row">
            <div class="col-sm-6">
                <h2>{% trans 'Personal information' %}</h2>
                {% crispy form person_form_helper %}

                <h2>{% trans 'Orchestra membership' %}</h2>

                <p>
                    {% blocktrans %}
                        Specify the orchestra(s) with which you will attend SOF. Also specify one (1) orchestra as your
                        <em>primary</em>. This orchestra will receive an invoice for your ticket and your gadgets.
                    {% endblocktrans %}
                </p>

                <p>
                    {% trans 'All the orchestras you specify will have to verify your membership.' %}
                </p>

                {% crispy membership_formset inline_formset_helper %}

            </div>

            <div class="col-sm-6">
                <h2>{% trans 'Ticket, food and accommodation' %}</h2>
                {% blocktrans %}
                    <p>
                        Select which days you will be attending the festival.
                        The cost of the sleeping hall is 50 SEK, regardless of what length of ticket you choose.
                        The food and drink ticket costs the following for each ticket type.
                    </p>
                    <dl class="dl-horizontal">
                        <dt>Thursday &ndash; sunday</dt>
                        <dd>215 SEK</dd>
                        <dt>Friday &ndash; sunday</dt>
                        <dd>140 SEK</dd>
                        <dt>Only saturday</dt>
                        <dd>75 SEK</dd>
                    </dl>
                    <p>
                        The following is included for each of the days in the food and drink ticket:
                    </p>
                    <dl class="dl-horizontal">
                        <dt>Thursday</dt>
                        <dd>Welcoming dinner for the orchestras, a drink, midnight snack</dd>
                        <dt>Friday</dt>
                        <dd>Supper, a drink, midnight snack</dd>
                        <dt>Saturday</dt>
                        <dd>Light lunch at the Kårtege, supper, a drink, midnight snack</dd>
                    </dl>
                {% endblocktrans %}
                {% crispy ticket_form ticket_form_helper %}

                <h2>{% trans 'Gadgets' %}</h2>
                <p><strong>Prylar måste beställas senast 10/3 kl 17:00.</strong></p>
                {{ stuff_formset.management_form }}
                <div class="list-group">
                    {% for form in stuff_formset %}
                        <div class="list-group-item">
                            <h3>{{ form.initial.product_object.public_name }}</h3>

                            <p>{{ form.initial.product_object.description }}</p>

                            <p>
                                <strong>{{ form.initial.product_object.price }} kr</strong>
                                {{ form.id }}{{ form.product }}
                                <span class="pull-right">{{ form.quantity }}</span>
                            </p>
                        </div>
                    {% empty %}
                        <p>{% trans "Unfortunately, there are no gadgets available." %}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% crispy accept_form accept_form_helper %}
        <input type="submit" value="{% trans 'Submit registration' %}" class="btn btn-lg btn-success">
    </form>
{% endblock content %}
