<!DOCTYPE html>
<html>
<body style="font-family: sans-serif;">
    <h1>Anmälningsbekräftelse</h1>

    <p><strong>GRATTIS!</strong></p>

    <p>Du har just gjort ditt livs bästa val, du har anmält dig som SOF-funkis!</p>

    <p>Detta innebär att du kommer få gå på kravall HELT GRATIS, få 25% rabatt på din SOF-biljett samt ha det riktigt omöjligt skojjigt på ditt jobbpass! Har du dessutom varit snabb att anmäla dig till två pass kan du ha tur (beroende på hur snabb du varit) och få förköp till UK, samt att du får 60% rabatt på din biljett!</p>

    <p>Om ett tag kommer du få mer info och kommer att bli kallad till ett infomöte. Där kommer du få veta lite mer om dina arbetsuppgifter, träffa dina jobbarkompisar samt få lite annan bra-att-veta-info.</p>

    <p>Du kommer även att få komma och skriva på funkisavtal samt hämta ut ditt festivalarmband. Det kommer att finnas tillfällen att göra detta på så småningom.</p>

    <p>Har du några frågor och funderingar, eller vill du bara ha någon att prata med så når du oss på <a href="mailto:funkissupport@sof15.se">funkissupport@sof15.se</a>!</p>

    <p>Simma lugnt! <3</p>

    <p><a href="http://youtu.be/y0LP8TjPypY">http://youtu.be/y0LP8TjPypY</a></p>
</body>
</html>
