<div layout="row" layout-sm="column">
  <md-content layout-padding flex-gt-sm="50">
    <h2>Kundvagn</h2>
    <table flex width="100%">
      <tr ng-repeat="holding in ctrl.cart.holdings">
        <td>
          <md-button class="md-icon-button md-warn" ng-click="ctrl.deleteHolding(holding)">
            <md-icon>delete</md-icon>
          </md-button>
        </td>
        <td align="left">{{holding.product_name}}</td>
        <td align="right">{{holding.price | currency}}</td>
      </tr>
      <tr>
        <td></td>
        <td align="left">Totalt:</td>
        <td align="right">{{ctrl.cart.total | currency}}</td>
      </tr>
    </table>
    <h2>Köpinformation</h2>
    <p>
      Evenemangsbiljetter levereras direkt vid köpet på elektronisk väg och kan
      därför <em>inte återköpas</em>.
    </p>
    <p>
      Betalningen går automatiskt direkt till arrangören eller arrangörerna.
    </p>
  </md-content>
  <md-content layout-padding flex-gt-sm="50">
    <h2>Betalningsuppgifter</h2>
    <form name="cardForm">
      <div layout="row" layout-sm="column" layout-fill>
        <md-input-container flex>
          <label>Kortnummer</label>
          <input cc-number cc-format name="number" ng-model="ctrl.card.number" required novalidate>
        </md-input-container>
      </div>
      <div layout="row" layout-sm="column" layout-fill>
        <md-input-container flex>
          <label>Giltigt till (månad)</label>
          <input cc-exp-month name="expMonth" ng-model="ctrl.card.exp_month" required>
        </md-input-container>
        <md-input-container flex>
          <label>Giltigt till (år)</label>
          <input cc-exp-year name="expYear" ng-model="ctrl.card.exp_year" required>
        </md-input-container>
        <md-input-container flex>
          <label>CVV/CVC</label>
          <input cc-cvc name="cvc" ng-model="ctrl.card.cvc" required>
        </md-input-container>
      </div>
    </form>
    <p>
      Betalningen sker med hjälp av
      <a href="https://stripe.com/se" target="_blank">Stripe</a>. Dina
      kortuppgifter lagras aldrig hos varken Liubiljett eller arrangören.
    </p>
    <div layout="row">
      <span flex></span>
      <md-button class="md-raised md-primary"
           ng-click="ctrl.purchase()"
           ng-disabled="cardForm.$invalid || ctrl.purchaseProgress.status === 'working' || ctrl.purchaseProgress.status === 'succeeded'">
        Genomför köp
      </md-button>
    </div>
  </md-content>
</div>


