<div>
  <h1>{{ctrl.holding.product_name}}</h1>
  <img ng-src="{{ctrl.holding.url}}qr/" style="width: 100%; max-width: 225px;">

  <p ng-if="ctrl.holding.utilized">
    <strong style="color: red;">Utnyttjad {{ctrl.holding.utilized | date:'medium'}}.</strong>
  </p>
  <p ng-if="!ctrl.holding.utilized">
    <strong style="color: green;">Ej utnyttjad.</strong>
  </p>
  <md-button class="md-raised md-primary" ng-if="ctrl.holding.permissions.utilize && !ctrl.holding.utilized" ng-click="ctrl.holding.utilize()">Markera som utnyttjad</md-button>
  <md-button class="md-raised md-warn" ng-if="ctrl.holding.permissions.unutilize && ctrl.holding.utilized" ng-click="ctrl.holding.unutilize()">Markera som ej utnyttjad</md-button>
  <p>
    <small>Biljett-id: {{ctrl.holding.id}}</small>
  </p>
  <p>
    Vem som helst som har adressen till den här sidan, QR-koden eller biljett-id:t kan använda den här biljetten. Därför
    är det mycket viktigt att du skyddar dessa saker från obehöriga. Liubiljett eller arrangören tar inget ansvar för
    förlorade eller spridda biljetter.
  </p>
</div>
