{% extends 'base.html' %}
{% load i18n crispy_forms_tags %}

{% block title %}{{ block.super }} – {% trans 'Approve orchestra members' %}{% endblock %}

{% block header %}{% trans 'Orchestra members' %} <small>{{ orchestra.name }}</small>{% endblock %}

{% block content %}
    <p>{% trans 'When you have approved your members, you may also review your' %} <a href="{% url 'orchard:view_orchestra_invoice_data' orchestra.pk %}">{% trans 'invoice data' %}</a>.</p>
    <form action="" method="post">
        {% crispy member_formset member_formset_helper %}
        <input type="submit" class="btn btn-success" value="{% trans 'Save' %}">
    </form>
{% endblock %}
