{% extends 'base.html' %}
{% load i18n crispy_forms_tags %}

{% block title %}{{ block.super }} – {% trans 'Invoice data' %}{% endblock %}

{% block header %}{% trans 'Invoice data' %} <small>{{ orchestra.name }}</small>{% endblock %}

{% block content %}
    <p class="lead">
        {% trans 'Please note that this invoice data is based only on your' %}
        <a href="{% url 'orchard:approve_orchestra_members' orchestra.pk %}">{% trans 'approved members' %}</a>.
        {% trans "You may download this data in CSV format and import it in an application like Excel." %}</p>
    <a href="?export=csv" class="btn btn-primary"><span class="glyphicon glyphicon-download"></span> {% trans 'Download as CSV' %}</a>
    <table class="table table-condensed table-striped">
        <thead>
            <tr>
                <th>{% trans 'Person' %}</th>
                <th>{% trans 'Product' %}</th>
                <th>{% trans 'Price' %}</th>
                <th>{% trans 'Quantity' %}</th>
                <th>{% trans 'Total' %}</th>
            </tr>
        </thead>
        <tbody>
            {% for h in holdings %}
                <tr>
                    <td>{{ h.person.full_name }} ({{ h.person.email }}, {{ h.person.phone }})</td>
                    <td>{{ h.product }}</td>
                    <td>{{ h.product.price }}</td>
                    <td>{{ h.quantity }}</td>
                    <td>{{ h.total }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="5">{% trans 'No members approved.' %}</td>
                </tr>
            {% endfor %}
        </tbody>


    </table>
{% endblock %}
