{% load staticfiles i18n %}<!DOCTYPE html>
<html lang="en" ng-app="liubiljett">
<head>
  <base href="{% url 'client:home' %}">
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{% block title %}liubiljett.se{% endblock title %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  {% block css %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/0.11.4/angular-material.min.css" rel="stylesheet">
    <link href="{% static 'css/project.css' %}" rel="stylesheet">
    <script src="https://use.typekit.net/vtj4cvq.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
  {% endblock %}
</head>

<body layout="row">
<md-sidenav class="site-sidenav md-sidenav-left md-whiteframe-1dp"
            md-component-id="left"
            md-is-locked-open="$mdMedia('gt-md')" layout="column">
  <md-toolbar md-theme="inverted">
    <div class="md-toolbar-tools">
      <h1 class="tk-plume-advertising"><a ui-sref="liubiljett.home">liubiljett.se</a></h1>
    </div>
  </md-toolbar>
  <md-content>
    <md-list>
      <md-list-item class="md-2-line" ui-sref="liubiljett.organizer.event({organizerId: 'lithe-blas', eventId: 'luciafest-2015'})">
        <md-icon class="md-avatar-icon">event</md-icon>
        <div class="md-list-item-text" layout="column">
          <h3 class="md-accent">Luciafesten</h3>
          <p>12 december 2015</p>
        </div>
      </md-list-item>
    </md-list>
    <md-divider></md-divider>
    <md-subheader>Ditt konto</md-subheader>
    <md-list>
      <md-list-item class="md-2-line">
        <md-icon class="md-avatar-icon">person</md-icon>
        <div class="md-list-item-text" layout="column">
          <h3>Olle Vidner</h3>
          <p>oller120@student.liu.se</p>
        </div>
      </md-list-item>
      <md-list-item ng-click="alert()">
        <md-icon class="md-avatar-icon">shopping_cart</md-icon>
        <p>Kundvagn</p>
      </md-list-item>
      <md-list-item ng-click="alert()">
        <md-icon class="md-avatar-icon">history</md-icon>
        <p>Tidigare köp</p>
      </md-list-item>
      <md-list-item ng-click="alert()">
        <md-icon class="md-avatar-icon">settings</md-icon>
        <p>Inställningar</p>
      </md-list-item>
      <md-list-item ng-click="console.log('click')">
        <md-icon class="md-avatar-icon">power_settings_new</md-icon>
        <p>Logga ut</p>
      </md-list-item>
    </md-list>
  </md-content>
</md-sidenav>

<section layout="column" layout-fill>
  <md-toolbar class="md-whiteframe-2dp" ng-controller="MainToolbarCtrl as mainToolbar">
    <div class="md-toolbar-tools" layout="row">
      <md-button class="md-icon-button" ng-click="mainToolbar.toggleSidenav('left')" hide-gt-md>
        <md-icon>menu</md-icon>
      </md-button>
      <h1>Luciafesten</h1>
      <span flex></span>
      <md-button class="md-fab md-mini">
        <md-icon>shopping_cart</md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-content layout="row">
      <div ui-view="main" flex-gt-md="80" flex-offset-gt-md="10" flex layout-padding>
        <div layout="column" layout-align="center center">
          <md-progress-circular md-mode="indeterminate"></md-progress-circular>
        </div>
      </div>
  </md-content>
</section>
{% block javascript %}
  <script>
    StaticFile = function (path) {
      return '{{ STATIC_URL|escapejs }}' + path
    }
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular-animate.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular-aria.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.0.0-rc3/angular-material.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ui-router-extras/0.1.0/ct-ui-router-extras.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.5/marked.min.js"></script>
  <script src="https://cdn.rawgit.com/Hypercubed/angular-marked/v1.0.0/dist/angular-marked.min.js"></script>
  <script src="https://js.stripe.com/v2/"></script>

  <!-- place project specific Javascript in this file -->
  <script src="{% static 'liubiljett/_.js' %}"></script>
  <script src="{% static 'liubiljett/common/_.js' %}"></script>
  <script src="{% static 'liubiljett/common/controllers.js' %}"></script>
  <script src="{% static 'liubiljett/common/directives.js' %}"></script>
  <script src="{% static 'liubiljett/common/states.js' %}"></script>
  <script src="{% static 'liubiljett/events/_.js' %}"></script>
  <script src="{% static 'liubiljett/events/controllers.js' %}"></script>
  <script src="{% static 'liubiljett/events/states.js' %}"></script>
  <script src="{% static 'liubiljett/home/_.js' %}"></script>
  <script src="{% static 'liubiljett/home/states.js' %}"></script>
  <script src="{% static 'liubiljett/products/_.js' %}"></script>
  <script src="{% static 'liubiljett/products/directives.js' %}"></script>
{% endblock javascript %}
</body>
</html>

