{% load staticfiles i18n raven %}{% spaceless %}
<!DOCTYPE html>
<html lang="en" ng-app="liubiljett">
<head>
  <base href="{% url 'client:home' %}">
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>liubiljett.se</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  {% block css %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/0.11.4/angular-material.min.css" rel="stylesheet">
    <link href="{% static 'css/project.css' %}" rel="stylesheet">
  {% endblock %}
</head>

<body layout="row">
<md-sidenav class="site-sidenav md-sidenav-left md-whiteframe-1dp"
            md-component-id="left"
            md-is-locked-open="$mdMedia('gt-md')" layout="column">
  <md-toolbar md-theme="inverted">
    <div class="md-toolbar-tools">
      <h1 class="tk-plume-advertising"><a ui-sref="liubiljett.home">liubiljett.se</a></h1>
    </div>
  </md-toolbar>
  <md-content>
    <md-list>
      <md-list-item class="md-2-line" ui-sref="liubiljett.organizer.event({organizerId: 'lithe-blas', eventId: 'luciafesten-2015'})">
        <md-icon class="md-avatar-icon">event</md-icon>
        <div class="md-list-item-text" layout="column">
          <h3 class="md-accent">Luciafesten</h3>
          <p>12 december 2015</p>
        </div>
      </md-list-item>
    </md-list>
    <md-divider></md-divider>
    <md-subheader>Ditt konto</md-subheader>
    <md-list lb-person-menu>

    </md-list>
  </md-content>
</md-sidenav>

<section layout="column" layout-fill>
  <md-toolbar class="md-whiteframe-2dp" ng-controller="MainToolbarCtrl as mainToolbar">
    <div class="md-toolbar-tools" layout="row">
      <md-button class="md-icon-button" ng-click="mainToolbar.toggleSidenav('left')" hide-gt-md>
        <md-icon>menu</md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-content layout="row">
      <div ui-view="main" flex-gt-md="80" flex-offset-gt-md="10" flex layout-padding>
        <div layout="column" layout-align="center center">
          <md-progress-circular md-mode="indeterminate"></md-progress-circular>
        </div>
      </div>
  </md-content>
</section>
{% block javascript %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.min.js"></script>
  <script src="https://cdn.ravenjs.com/1.3.0/angular,native/raven.min.js"></script>
  <script>
    Raven.config('{% sentry_public_dsn "https" %}', {
      release: '{{ sentry_release }}'
    }).install();
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular-animate.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular-aria.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-i18n/1.4.8/angular-locale_sv-se.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.0.0-rc4/angular-material.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ui-router-extras/0.1.0/ct-ui-router-extras.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.5/marked.min.js"></script>
  <script src="https://cdn.rawgit.com/Hypercubed/angular-marked/v1.0.0/dist/angular-marked.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/restangular/1.5.1/restangular.min.js"></script>
  <script src="https://cdn.rawgit.com/MikeMcl/big.js/v3.1.3/big.min.js"></script>
  <script src="https://js.stripe.com/v2/"></script>
  <script src="https://cdn.rawgit.com/bendrucker/angular-stripe/v4.2.8/release/angular-stripe.js"></script>
  <script src="https://cdn.rawgit.com/bendrucker/angular-credit-cards/v2.3.5/release/angular-credit-cards.js"></script>

  <script>
    StaticFile = function (path) {return '{{ STATIC_URL|escapejs }}' + path}
    Stripe.setPublishableKey('{{ stripe_public_key }}')
  </script>
  <script src="https://use.typekit.net/vtj4cvq.js"></script>
  <script>try{Typekit.load({async: true})}catch(e){}</script>

  <script src="{% static 'liubiljett/_.js' %}"></script>
  <script src="{% static 'liubiljett/common/_.js' %}"></script>
  <script src="{% static 'liubiljett/common/controllers.js' %}"></script>
  <script src="{% static 'liubiljett/common/directives.js' %}"></script>
  <script src="{% static 'liubiljett/common/services.js' %}"></script>
  <script src="{% static 'liubiljett/common/states.js' %}"></script>
  <script src="{% static 'liubiljett/events/_.js' %}"></script>
  <script src="{% static 'liubiljett/events/controllers.js' %}"></script>
  <script src="{% static 'liubiljett/events/states.js' %}"></script>
  <script src="{% static 'liubiljett/home/_.js' %}"></script>
  <script src="{% static 'liubiljett/home/states.js' %}"></script>
  <script src="{% static 'liubiljett/people/_.js' %}"></script>
  <script src="{% static 'liubiljett/people/directives.js' %}"></script>
  <script src="{% static 'liubiljett/people/services.js' %}"></script>
  <script src="{% static 'liubiljett/people/states.js' %}"></script>
  <script src="{% static 'liubiljett/products/_.js' %}"></script>
  <script src="{% static 'liubiljett/products/controllers.js' %}"></script>
  <script src="{% static 'liubiljett/products/directives.js' %}"></script>
  <script src="{% static 'liubiljett/products/models.js' %}"></script>
  <script src="{% static 'liubiljett/products/services.js' %}"></script>
  <script src="{% static 'liubiljett/products/states.js' %}"></script>
{% endblock javascript %}
</body>
</html>
{% endspaceless %}
