{% load i18n %}
<!DOCTYPE html>
<html>
<body style="font-family: sans-serif;">
    <h1>{% trans 'Invoice' %}</h1>
    <table>
        <tr>
            <th align="right">{% trans 'Amount to pay' %}:</th>
            <td align="left">{{ invoice.total }} kr.</td>
        </tr>
        <tr>
            <th align="right">{% trans 'OCR reference number' %}:</th>
            <td align="left">{{ invoice.ocr }}</td>
        </tr>
        <tr>
            <th align="right">{% trans 'Bankgiro number' %}:</th>
            <td align="left">{{ bg }}</td>
        </tr>
        <tr>
            <th align="right">{% trans 'Invoice issued' %}:</th>
            <td align="left">{{ invoice.issue_date|date }}</td>
        </tr>
        <tr>
            <th align="right">{% trans 'Payment due' %}:</th>
            <td align="left">{{ invoice.due_date|date }}</td>
        </tr>
    </table>
    <p>{% trans 'Receiver' %}:</p>
    <table>
        <tr>
            <th align="right">{% trans 'Name' %}:</th>
            <td align="left">{{ invoice.receiver_name }}</td>
        </tr>
        {% if invoice.receiver_organisation %}
            <tr>
                <th align="right">{% trans 'Organisation' %}:</th>
                <td align="left">{{ invoice.receiver_organisation }}</td>
            </tr>
        {% endif %}
        {% if invoice.receiver_pid %}
            <tr>
                <th align="right">{% trans 'Personal/Organisational identification number' %}:</th>
                <td align="left">{{ invoice.receiver_pid }}</td>
            </tr>
        {% endif %}
    </table>
    <p>{% trans 'International payment info' %}:</p>
    <table>
        <tr>
            <th align="left">{% trans 'IBAN' %}:</th>
            <td align="left">{{ iban }}</td>
        </tr>
        <tr>
            <th align="left">{% trans 'BIC/SWIFT' %}:</th>
            <td align="left">{{ bic_swift }}</td>
        </tr>
    </table>

    <h2>{% trans 'Specification' %}</h2>
    <table style="text-align: left;">
        <tr>
            <th align="left">{% trans 'Product' %}</th>
            <th align="left">{% trans 'Person' %}</th>
            <th align="right">{% trans 'Price' %}</th>
            <th align="right">{% trans 'Quantity' %}</th>
            <th align="right">{% trans 'Subtotal' %}</th>
        </tr>
        {% for row in invoice.rows.all %}
            <tr>
                <td align="left">{{ row.title }}</td>
                <td align="left">{{ row.person }}</td>
                <td align="right">{{ row.price }}</td>
                <td align="right">{{ row.quantity }}</td>
                <td align="right">{{ row.subtotal }}</td>
            </tr>
        {% endfor %}
        <tr>
            <td colspan="4" align="right">{% trans 'Total' %}</td>
            <td align="right">{{ invoice.total }}</td>
        </tr>
    </table>
    <p>
        <strong>{% trans 'See you at SOF!' %}</strong><br>
        //{% trans 'The SOF15 organisation' %}
    </p>
    <p>
        <small>PS. <a href="http://tagga.sof15.se">Tagga SOF!</a></small>
    </p>
</body>
</html>
