<h2>Aktuella evenemang</h2>
<div layout="row" layout-wrap>
  <div ng-repeat="i in [1,2,3,4,5]"
       flex-sm="100" flex-md="50" flex-gt-md="50" flex-gt-lg="33">
    <form>
    <md-card>
      <md-card-content>
        <h3 class="md-title">Luciafesten</h3>
        <p>
          Luciafesten är något av det fräckaste du kan vara med om! Hajp hajp hajp!
        </p>
      </md-card-content>
      <div class="md-actions" layout="row" layout-align="end center">
        <md-button class="" ui-sref="liubiljett.organizer.event({organizerId: 'lithe-blas', eventId: 'luciafesten-2015'})">
          Köp biljett
        </md-button>
      </div>
    </md-card>
      </form>
  </div>
</div>
