<h2>liubiljett.se</h2>
<p>
  Välkommen till liubiljett.se! Här säljs biljetter till studentevenemang på
  Linköpings universitet.
</p>
<p>
  I menyn till vänster kan du välja vilket evenemang du vill köpa biljett till.
</p>
<p>
  Tjänsten är fortfarande ny och drivs med en mycket begränsad budget. Därför
  kan saker ibland gå lite långsamt. Tack för ditt tålamod!
</p>
<h3>Viktig information om cookies</h3>
<p>
  Denna webbsida kräver cookies för att kunna fungera. Genom att fortsätta
  använda tjänsten godkänner du att cookies lagras på din dator.
</p>
