{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }} – Kårtegebidragsansökan{% endblock %}

{% block header %}Kårtegebidragsansökan{% endblock %}

{% block content %}
    <p>
        Vad roligt att ni vill vara med i Kårtegen! När ni fyller i uppgifterna nedan, tänk på att vara så tydliga och
        förklarande som möjligt så att rätt material kan fixas. Allt för att bidraget ska bli fantastiskt!
    </p>
    <p>
        <strong>Tänk på att högsta tillåtna höjd på bidragen är 4,5 meter över marken. Lastbilsflaken är cirka 1,6 meter
            över marken.</strong> Vi ber er även observera att festivalbiljetter inte ingår i kårtegeavgiften – men ni
        får självklart möjlighet till förköp.
    </p>
    <form action="" method="post">
        <div class="row">
            <div class="col-md-6">
                <h2>Bidraget</h2>
                {% crispy form form_helper %}
            </div>
            <div class="col-md-6">
                <h2>Materialspecifikation</h2>
                <p>
                    Nedan anges beräknad åtgång av material för ert bidrag. Tänk på att vara ekonomiska när ni beställer
                    (om t.ex. kartong skulle fylla samma funktion som en träskiva är kartong absolut det bättre
                    alternativet).
                </p>
                <p>
                    Tips: träskivorna kommer i standarddimensionen 1200x2400 mm.
                </p>
                {% crispy material_formset material_formset_helper %}

                <h3>Andra material</h3>
                <p>
                    Ange om ni behöver andra material, till exempel tyg eller plast.
                </p>
                {% crispy custom_material_formset material_formset_helper %}
            </div>
        </div>
        <input type="submit" class="btn btn-lg btn-success" value="Skicka ansökan">
    </form>
{% endblock content %}

{% block js %}

    <script>
        // Hides the width, length and height fields. Shows them again if selecting free build.
        $(document).ready(function() {
            // todo: better.

            // Don't hide if free build is selected (happens on validation errors etc.)
            if ($('#id_entry_type').val() != {{ free_build_pk }}){
                $('#dimensions').hide();
            }
            $('#id_entry_type').change(function() {
                if ($(this).val() == {{ free_build_pk }}){
                    $('#dimensions').show();
                }
                else {
                    $('#dimensions').hide();
                }
            });
        });
    </script>
{% endblock js %}