<table class="table table-condensed">
    <thead>
        <tr>
            <th>Produkt</th>
            <th>Antal</th>
            <th>Styckpris</th>
        </tr>
    </thead>
    <tbody>
    {% for holding in holding_list.all %}
        <tr>
            <td>{{ holding.product }}</td>
            <td>{{ holding.quantity }}</td>
            <td>{{ holding.product.price }}:-</td>
        </tr>
    {% endfor %}
    <tr>
        <th>Totalt:</th>
        <td></td>
        <td>{{ holding_list.total_cost }}</td>
    </tr>
    </tbody>
</table>