{% extends 'base.html' %}
{% load i18n crispy_forms_tags tickle_hacks markdown_deux_tags %}

{% block title %}{{ block.super }} – {% trans 'Tickets and gadgets' %}{% endblock %}

{% block header %}{% trans 'Tickets and gadgets' %}{% endblock %}

{% block content %}
    <p class="lead">
        {% blocktrans %}
            Buy your tickets by adding to your shopping cart, then press <em>Proceed...</em>.
        {% endblocktrans %}
    </p>
    <p>
        {% blocktrans %}
            Due to our tickets being strictly personal, you cannot buy more than one of most tickets.
        {% endblocktrans %}
    </p>
    <div class="row">
        <div class="col-md-6">
            <h2>{% trans 'Tickets' %}</h2>
            {% for product in product_list.ticket_types %}
                <form action="{% url 'tickle:shopping_cart_add' product.pk %}" method="post">
                    {% csrf_token %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">{{ product.public_name }}</h3>
                        </div>
                        {% if product.description %}
                            <div class="panel-body">
                                {{ product.description|markdown }}
                            </div>
                        {% endif %}

                        <!-- Table -->
                        {% price_table request product %}

                        <div class="panel-footer form-inline" style="text-align: right;">
                            {% if product.quantitative %}
                                <div class="form-group">
                                    <label for="quantity-{{ product.pk }}">{% trans 'Quantity' %}: </label>
                                    <input type="number" id="quantity-{{ product.pk }}" name="quantity" class="form-control input-sm" value="1" style="width: 5em;">
                                </div>

                            {% endif %}
                            <input type="submit" class="btn btn-primary btn-sm" value="{% trans 'Add to cart' %}">
                        </div>
                    </div>
                </form>
            {% empty %}
                <p>{% trans 'There are currently no tickets available.' %}</p>
            {% endfor %}

        {% if product_list.gadget_types %}
        <h2>{% trans 'Gadgets' %}</h2>
            {% for product in product_list.gadget_types %}
                <form action="{% url 'tickle:shopping_cart_add' product.pk %}" method="post">
                    {% csrf_token %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">{{ product.public_name }}</h3>
                        </div>
                        {% if product.description %}
                            <div class="panel-body">
                                {{ product.description|markdown }}
                            </div>
                        {% endif %}

                        <!-- Table -->
                        {% price_table request product %}

                        <div class="panel-footer form-inline" style="text-align: right;">
                            {% if product.quantitative %}
                                <div class="form-group">
                                    <label for="quantity-{{ product.pk }}">{% trans 'Quantity' %}: </label>
                                    <input type="number" id="quantity-{{ product.pk }}" name="quantity" class="form-control input-sm" value="1" style="width: 5em;">
                                </div>

                            {% endif %}
                            <input type="submit" class="btn btn-primary btn-sm" value="{% trans 'Add to cart' %}">
                        </div>
                    </div>

                </form>
            {% empty %}
                <p>{% trans 'There are currently no gadgets available.' %}</p>
            {% endfor %}
        {% endif %}
        </div>


        <div class="col-md-6">
            <h2>{% trans 'Shopping cart' %}</h2>
            {% include 'tickle/elements/shopping_cart_table.html' with shopping_cart=person.shopping_cart delete_column=True %}

            {# Modal trigger button #}
            <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#confirm-purchase-modal">
                <span class="glyphicon glyphicon-shopping-cart"></span> {% trans 'Proceed...' %}
            </button>
        </div>
    </div>

    <div class="modal fade" id="confirm-purchase-modal" tabindex="-1" role="dialog" aria-labelledby="confirm-purchase-modal-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="{% trans 'Close' %}"><span aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title" id="confirm-purchase-modal-label">{% trans 'Purchase terms' %}</h3>
                </div>
                <div class="modal-body">
                    <h4>{% trans 'Delivery' %}</h4>
                    <p>
                        {% blocktrans %}
                            All ordered tickets will be delivered via email and will probably reach your inbox within a few minutes from purchase.
                        {% endblocktrans %}
                    </p>
                    <h4>{% trans 'Payment' %}</h4>
                    <p>
                        {% blocktrans %}
                            We handle payment via invoicing. You will receive an invoice within a few days from your
                            purchase. The invoice will be delivered via email.
                        {% endblocktrans %}
                    </p>
                    <p>
                        {% blocktrans %}
                            Payment must be us at hand within 14 week days upon invoice reception.
                        {% endblocktrans %}
                    </p>
                    <h4>{% trans 'Refunds and transfer' %}</h4>
                    <p>
                        {% blocktrans %}
                            Please observe <strong>we do not refund tickets</strong>. However, we normally allow
                            transferring tickets to other people.
                        {% endblocktrans %}
                    </p>
                    <h3>{% trans 'Shopping cart' %}</h3>
                    <p>
                        {% blocktrans %}
                            Check that everything seems to be correct.
                        {% endblocktrans %}
                    </p>
                    {% include 'tickle/elements/shopping_cart_table.html' with shopping_cart=person.shopping_cart delete_column=False %}
                    <p><strong>{% trans 'By clicking <em>Confirm purchase</em> you agree to these terms and confirm that the shopping cart above is correct.' %}</strong></p>
                </div>
                <div class="modal-footer">
                    <form action="{% url 'tickle:complete_purchase' %}" method="post">
                        {% csrf_token %}
                        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Cancel' %}</button>
                        <button type="submit" class="btn btn-default btn-success">{% trans 'Confirm purchase' %}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
