{% extends 'base.html' %}
{% load i18n %}

{% block title %}{{ block.super }} – {% trans 'Purchase completed' %}{% endblock %}

{% block header %}{% trans 'Purchase completed' %}{% endblock %}

{% block content %}
    <p class="lead">
        {% url 'profile' request.user.person.pk as profile_url %}
        {% blocktrans %}
            Congratulations, you just purchased tickets for SOF 2015! You will receive the tickets via email shortly.
            The tickets can also be reviewed in your <a href="{{ profile_url }}">profile</a>.
        {% endblocktrans %}
    </p>
    <p>
        {% blocktrans %}
            You will receive an invoice for this purchase in a few days.
        {% endblocktrans %}
    </p>
    <p>
        <strong>{% trans "See you at SOF!" %}</strong>
    </p>
{% endblock content %}
