{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }} – Biljettköp{% endblock %}

{% block header %}Biljettköp{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <h2>Identifiering</h2>
            <p>Ange ditt LiU ID.<br>Om du inte har något LiU ID, ange ditt personnummer istället.</p>

            <form action="" method="post">
                {% csrf_token %}
                {% crispy form form.helper %}
                <p>
                    Identifireing krävs för att biljetterna till SOF är personliga.
                </p>
                <input value="Identifiera" class="btn btn-primary" type="submit">
            </form>
        </div>
    </div>

{% endblock %}
