{% extends 'base.html' %}
{% load i18n crispy_forms_tags tickle_hacks %}

{% block title %}{{ block.super }} – {% trans 'Ticket exchange' %}{% endblock %}

{% block header %}{% trans 'Ticket exchange' %}{% endblock %}

{% block content %}

    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{ object.product.public_name }}</h3>
            </div>
            {% if object.product.description %}
                <div class="panel-body">
                    <p>{{ object.product.description }}</p>
                </div>
            {% endif %}

            <!-- Table -->
            {% price_table request object.product %}
        </div>

    <p>
        {% blocktrans %}
            By confirming you want this ticket to be transferred and you agree to pay for the invoice.
            You can't undo this purchase and the ticket is personal.
        {% endblocktrans %}
    </p>

    <form action="" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-default btn-success" name="_confirm">{% trans 'Confirm transfer' %}</button>
        <button type="submit" class="btn btn-default btn-danger" name="_decline">{% trans 'Decline' %}</button>
    </form>

    </div>
{% endblock %}