{% load i18n %}
{{ form.errors }}

{% if person %}
    <h2>{{ person }} <small>{{ person.pid }} / {{ person.liu_id|default_if_none:'—' }}</small></h2>
{% else %}
    <div class="alert alert-danger">
        {{ person_error }}
    </div>
{% endif %}

{% if delivery %}
    <div class="panel panel-success">
        <div class="panel-heading">
            <h2 class="panel-title">{% trans 'Delivered' %} {{ delivery.timestamp }}</h2>
        </div>
        <div class="panel-body">
            <ul>
                {% for i in delivery.holdings.all %}
                    <li>{{ i.quantity }}x {{ i.product }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% else %}
    <div class="alert alert-danger">
        {% trans 'Nothing to deliver to this person.' %}
    </div>
{% endif %}
{% if historic_deliveries %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">{% trans 'Historic deliveries' %}</h2>
        </div>
        <div class="panel-body">
            <ul>
                {% for i in historic_deliveries %}
                    <li>{{ i.quantity }}x {{ i.product }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endif %}
