{% extends 'base.html' %}
{% load i18n crispy_forms_tags tickle_hacks markdown_deux_tags %}

{% block title %}{{ block.super }} – {% trans 'Turbo delivery' %}{% endblock %}

{% block header %}{% trans 'Turbo delivery' %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-5 col-md-4">
            <div class="well">
                <form action="" method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input type="submit" class="btn btn-block btn-primary" value="{% trans 'Search and deliver' %}">
                </form>
            </div>
        </div>
        <div class="col-sm-7 col-md-8">
            <div id="ajax-response">
                <p class="lead">
                    {% trans 'Begin by selecting one or more products and then placing the cursor in the RFID card number field.' %}
                </p>
            </div>
        </div>
    </div>


{% endblock %}

{% block js %}
    <script>
        $(document).ready(function() {
            $('form').submit(function(event) {
                $('#ajax-response').html("<p>{% trans 'Please wait...' %}</p>");

                $.ajax({
                    url: '{% url 'tickle:turbo_delivery_ajax' %}',
                    type: 'POST',
                    data: $('form').serialize(),
                    dataType: 'html'
                }).done(function(data) {
                    $('#ajax-response').html(data);
                }).fail(function(data) {
                    console.log(data);
                    $('#ajax-response').html("<p>{% trans 'Something went wrong...' %}</p>" + data);
                });

                $('input[name=liu_card_rfid]').val('').focus();
                $('input[name=pid]').val('');

                event.preventDefault();
            });
        });
        $('input[name=liu_card_rfid]').focus();
    </script>
{% endblock %}
