{% extends 'base.html' %}
{% load i18n crispy_forms_tags markdown_deux_tags %}

{% block title %}{{ block.super }} – Funktionärsanmälan{% endblock %}

{% block header %}Funktionärsanmälan{% endblock %}

{% block content %}
    {% if not already_registered %}
        <form action="" method="post">
            {% csrf_token %}
            <h2>Arbetspass</h2>
            <p>Bocka i det eller de pass du är intresserad av. Observera att denna anmälan är att betrakta som bindande.</p>

            {% for error in form.shifts.errors %}
                <div class="alert alert-danger">{{ error }}</div>
            {% endfor %}


            {% regroup form.fields.shifts.queryset by shift_type as shift_list %}

                {% for shift_type in shift_list %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">{{ shift_type.grouper }}</h3>
                        </div>

                        {% if shift_type.grouper.description %}
                            <div class="panel-body">
                                <p>{{ shift_type.grouper.description|markdown }}</p>
                            </div>
                        {% endif %}

                        <ul class="list-group">
                            {% for shift in shift_type.list %}
                                <li class="list-group-item">
                                    <input type="checkbox" id="id_shifts_{{ forloop.parentloop.counter0 }}_{{ forloop.counter0 }}" value="{{ shift.pk }}" name="shifts" />
                                    <label for="id_shifts_{{ forloop.parentloop.counter0 }}_{{ forloop.counter0 }}">{{ shift.start }} – {{ shift.end }}</label>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endfor %}
            {{ functionary_form|crispy }}
            {{ accept_form|crispy }}
            <input value="Skicka anmälan" class="btn btn-primary" type="submit">
        </form>
    {% else %}
        <p class="lead">
            {% blocktrans %}
                It seems you're already registered as a functionary. Please <a href="mailto:funkissupport@sof15.se">contact us</a> if you want to work another shift.
            {% endblocktrans %}
        </p>
    {% endif %}
{% endblock %}
