{% extends 'base.html' %}
{% load i18n crispy_forms_tags %}

{% block title %}{{ block.super }} – {% trans 'Change password' %}{% endblock %}

{% block header %}{% trans 'Change password' %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4">
            <form action="" method="post">
                {% crispy form form_helper %}
                <input type="submit" class="btn btn-primary" value="{% trans 'Change password' %}">
            </form>
        </div>
    </div>
{% endblock content %}