{% extends 'base.html' %}
{% load i18n crispy_forms_tags %}

{% block title %}{{ block.super }} – {% trans 'Log in' %}{% endblock %}

{% block header %}{% trans 'SOF 2015 – Tickets' %}{% endblock %}

{% block content %}
    <p class="lead">
        {% blocktrans %}
            To buy tickets, register as functionary or view your profile, you must login or register.
        {% endblocktrans %}
    </p>

    <div class="row">
        <div class="col-sm-6 col-md-5 col-md-offset-1 col-lg-4 col-lg-offset-2">
            <h2>{% trans 'LiU student' %} <small>{% trans 'or already registered' %}</small></h2>
            <p>{% trans "LiU student? Just enter your LiU id credentials. Else fill in your email address and your SOF password." %}</p>
            <form action="" method="post">
                <div class="well">
                    {% crispy form form_helper %}
                    <input type="submit" class="btn btn-primary" value="{% trans 'Log in' %}">
                </div>
            </form>
        </div>
        <div class="col-sm-6 col-md-5 col-lg-4">
            <h2>{% trans 'Other' %}</h2>
            {% url 'create_user' register_url %}
            {% blocktrans %}
                Please proceed to <a href="{{ register_url }}">registration</a>.
            {% endblocktrans %}
        </div>
    </div>

    <p>

    </p>
{% endblock content %}
