{% extends 'base.html' %}
{% load i18n crispy_forms_tags %}

{% block title %}{{ block.super }} – {{ person.full_name }}{% endblock %}

{% block header %}{{ person.full_name }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-4">
            <h2>Personuppgifter</h2>
            <dl>
                <dt>Namn</dt>
                <dd>{{ person.full_name }}</dd>

                <dt>Personnummer</dt>
                <dd>{{ person.pid|default_if_none:'&mdash;' }}</dd>

                {% if person.liu_id %}
                    <dt>LiU-id</dt>
                    <dd>{{ person.liu_id }}</dd>
                {% endif %}

                <dt>E-postadress</dt>
                <dd>{{ person.email }}</dd>

                {% if person.phone %}
                    <dt>Telefonnummer</dt>
                    <dd>{{ person.phone }}</dd>
                {% endif %}

                {% if person.special_nutrition.exists %}
                    <dt>Specialkost</dt>
                    <dd>
                        <ul class="list-unstyled">
                            {% for i in person.special_nutrition.all %}
                                <li>{{ i }}</li>
                            {% endfor %}
                        </ul>
                    </dd>
                {% endif %}
            </dl>
            <!-- Functionary and shifts. -->
            {% if person.functionary %}
                    <h2>Funktionärsuppgifter</h2>
                    <dl>
                        <dt>ICE-nummer</dt>
                        <dd>{{ person.functionary.ice_number|default:'&mdash;' }}</dd>

                        <dt>Innehar B-körkort</dt>
                        <dd>{{ person.functionary.b_driving_license|yesno:'Ja,Nej' }}</dd>

                        {% comment %}
                    <dt>Godkänt kontrakt</dt>
                    <dd>{{ person.functionary.signed_contract|yesno:'Ja,Nej' }}</dd>

                    <dt>Deltagit på infomöte</dt>
                    <dd>{{ person.functionary.attended_info_meeting|yesno:'Ja,Nej' }}</dd>

                    <dt>Pant betalad</dt>
                    <dd>{{ person.functionary.pledge_payed|yesno:'Ja,Nej' }}</dd>

                    <dt>Pant återbetalad</dt>
                    <dd>{{ person.functionary.pledge_returned|yesno:'Ja,Nej' }}</dd>
                    {% endcomment %}
                    </dl>

                    <h3>Mina pass</h3>
                    <ul>
                        {% for shift_reg in person.shift_registrations.all %}
                            <li><strong>{{ shift_reg.shift.shift_type }}</strong> {{ shift_reg.shift.start }} – {{ shift_reg.shift.end }}</li>
                        {% endfor %}
                    </ul>
            {% endif %}
        </div>

        <!-- Tickets and products. -->
        {% if person.holdings.purchased.exists %}
            <div class="col-lg-4">
                <h2>Biljetter</h2>
                <p>
                    Kom ihåg att <strong>dina biljetter är personliga</strong>, dvs. du och endast du kan hämta ut dem
                    tillsammans med LiU-kort eller fotolegitimation.
                </p>

                {% for holding in person.holdings.purchased %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">{{  holding.product.public_name }}</h3>
                        </div>

                        <div class="panel-body">
                            <dl>
                                {% if holding.product.ticket_type %}
                                    <dt>Medger entré till</dt>
                                    <dd>
                                        <ul class="list-unstyled">
                                            {% for event in holding.product.ticket_type.events.all %}
                                                <li>{{ event }}</li>
                                            {% endfor %}
                                        </ul>
                                    </dd>
                                {% endif %}

                                <dt>Information</dt>
                                <dd>
                                    <ul class="list-unstyled">
                                        {% if holding.product.quantitative %}
                                            <li>{% trans 'Quantity' %}: {{ holding.quantity }}</li>
                                        {% endif %}
                                        <li>{% trans 'Price' %}: {{ holding.discounted_price }}</li>
                                    </ul>
                                </dd>
                            </dl>

                            <a href="{% url 'tickle:exchange_ticket' holding.pk %}" class="btn btn-sm btn-primary">Överlåt biljett</a>
                        </div>
                    </div>

                    {% comment %}
                    <h3>Kostnad</h3>
                    {% include 'tickle/holdings_table.html' with holding_list=purchase.holdings.all %}
                    {% endcomment %}
                {% endfor %}
            </div>
        {% endif %}





        <!-- Orchestra -->
        {% if membership_approvable_orchestras %}
            <div class="col-lg-4">
                <h2>{% trans 'Orchestra representative' %}</h2>
                {% for orchestra in membership_approvable_orchestras %}
                    <h3>{{ orchestra }}</h3>
                    <ul>
                        <li><a href="{% url 'orchard:approve_orchestra_members' orchestra.pk %}">{% trans 'Approve members' %}</a></li>
                        <li><a href="{% url 'orchard:view_orchestra_invoice_data' orchestra.pk %}">{% trans 'Review invoice data' %}</a></li>
                    </ul>
                {% endfor %}
            </div>
        {% endif %}

    </div>

{% endblock content %}
