{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="page-header">
        <h1>Orkestermedlem</h1>
    </div>
    <p>Bla bla bla, luftpastejer osv...</p>

    <form method="post" action="">
        {% csrf_token %}
        <h2>Personuppgifter</h2>
        {% crispy person_form person_form_helper %}

        <h2>Biljett, mat och boende</h2>
        {% crispy form ticket_form_helper %}

        <h2>Orkestermedlemskap</h2>
        {{ orchestra_membership_formset.management_form }}
        <table class="table">
            <tr>
                <th>Orkester</th>
                <th>Aktiv medlem</th>
                <th>Primär orkester</th>
            </tr>

            {% for form in orchestra_membership_formset %}
                <tr>
                    {% for field in form %}
                        <td>
                            {{ field.errors }}  <!-- Move somewhere else. -->
                            {{ field }}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>


        <input type="submit" value="Skicka anmälan" class="btn btn-success">
    </form>
{% endblock content %}