<md-list-item class="md-2-line" ng-if="person">
  <md-icon class="md-avatar-icon">person</md-icon>
  <div class="md-list-item-text" layout="column">
    <h3>{{person.first_name}} {{person.last_name}}</h3>
    <p>{{person.email}}</p>
  </div>
</md-list-item>
<md-list-item ng-if="person" ui-sref="liubiljett.cart">
  <md-icon class="md-avatar-icon">shopping_cart</md-icon>
  <p>Kundvagn</p>
</md-list-item>
<md-list-item ng-if="person" ng-click="alert()">
  <md-icon class="md-avatar-icon">history</md-icon>
  <p>Tidigare köp</p>
</md-list-item>
<md-list-item ng-if="person" ui-sref="liubiljett.auth.logout">
  <md-icon class="md-avatar-icon">power_settings_new</md-icon>
  <p>Logga ut</p>
</md-list-item>
<md-list-item ng-if="!person" ui-sref="liubiljett.auth.login.liu">
  <md-icon class="md-avatar-icon">power_settings_new</md-icon>
  <p>Logga in (LiU-student)</p>
</md-list-item>
